# Angular specific
/app/dist/
/app/out-tsc/
/app/tmp/
/app/coverage/
/app/e2e/test-output/
/app/.angular/
.angular/
/app/package-lock.json

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
